// Fonts
$fontStack: "Open Sans", sans-serif;

// Screen sizes
$desktop: 1280px;
$laptop: 960px;
$tablet: 640px;
$phone: 320px;

// Colors
$backgroundColor: white;
$textColor: black;
$textColor2: white;
$linkColor: #e00000;
$footerTextColor: #ddd;

// Header menu colors
$taglineColor: #ddd;
$headerMenuBackgroundColor: #E00000;
$headerSubMenuBackgroundColor: #191919;
$headerMenuLinkColor: white;
$headerMenuItemHoverColor: #191919 + 10;
$currentMenuItemBackgroundColor: #191919;
$currentMenuItemColor: white;

// Borders
$borderColor: #ddd;
$borderColor2: #191919 + 50;
$inputBorderColor: black;

// content
$titleColor: #333333;
$metaColor: #000000;

// <code> tag and similar
$codeTagColor: #ddd;

// Forms and Buttons
$buttonColor: black;
$buttonTextColor: white;