/* 2.0 Essentials */
:root{ font-size: 12pt; }

body{
	font-family: $fontStack;
	background-color: $backgroundColor;
	color: $textColor;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0;
	word-wrap: break-word;
}

h1,
h2,
h3{
	font-weight: normal;
}

h1{ font-size: 3em; }
h2{ font-size: 2.6em; }
h3{ font-size: 2em; }
h4{ font-size: 2em; }
h5{ font-size: 1.8em; }
h6{ font-size: 1.4em; }

a{ 
	color: $linkColor;
	transition: .15s;

	&:hover{ color: $linkColor; }
}

blockquote,
q{ 
	border-left: 3px solid $borderColor;
	padding-left: .5em;
}

select{
	border-color: $borderColor;
	border-radius: 2px;
	color: black;
}

table{ width: 100%; }

th,
td{
	border: 1px solid $borderColor;
	padding: .5rem;
}

dt{ font-weight: bold; }

ul,
ol{
	padding-left: 30px;
	ul,
	ol{
		padding-left: 20px;
	}
}

a{
	text-decoration: none;
	
	i{ color: black; }

	&:hover{ text-decoration: underline; }
}

abbr,
acronym{
	&:hover{ 
		cursor: help;
		border-bottom: 1px solid black;
	}
}

code{ 
	background-color: $codeTagColor; 
	color: $textColor;
}

pre{
	border: 1px solid $borderColor;
	word-wrap: break-word;
	white-space: pre-wrap;
	padding: 1em;
	border-radius: 2px;
}

ins{
	background-color: $borderColor;
	color: black;
}

var{ 
	font-family: monospace; 
	font-style: normal;
}

code,
ins{ padding: 0 .3em; }

figure,
iframe,
embed,
video{
	max-width: 100%;
	margin: 1em 0;
}

.screen-reader-text,
.says{
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

@media (max-width: $tablet){
	.hentry,
	.comment{
		table, thead, tbody, th, td, tr {
			display: block; 
		}
		
		tr{
			border: 1px solid $borderColor;
			margin-bottom: .5rem;
		}
		
		td,
		th{
			border: none;
			&:not(:last-child){
				border-bottom: 1px solid $borderColor;  
			}
		}
	}
}