/* 3.0 Forms and Form elements */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
textarea,
select{
	background-color: #EAEAEA;
	color: #000000;
	max-width: 100%; 
}

input,
button,
.button,
.comment-reply-link,
textarea{ border-radius: 2px; }

input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
textarea{
	appearance: none !important;
}

input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="url"],
button,
textarea{
	border: 1px solid $borderColor;
	padding: 3px;
}

input[type="submit"],
input[type="reset"],
button,
.comment-reply-link,
.button{
	background-color: #e00000;
	color: white;
	padding: .3em .5em;
	font-size: .85em;
	border: 0;

	&:hover{
		color: white;
		text-decoration: none;
		filter: brightness( 110% );
	}
}

.comment-reply-link{ 
	position: relative;
	right: 0;
}

.nav-links{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 20px;
}

.nav-previous,
.nav-next{ line-height: 40px; }

.nav-previous ~ .nav-next{ margin-left: 1rem; }

.nav-previous a:before,
.nav-next a:after{
	display: inline-block;
	font-family: FontAwesome;
}

.nav-previous a:before{
	content: '\f177';
	padding-right: 5px;
}

.nav-next a:after{
	content: '\f178';
	padding-left: 5px;
}

.page-numbers,
.pagination > span:not(.page-links-title),
.pagination > a{
	margin: 0 .5em;
	padding: 0 .3em;
}

.page-numbers:not(.dots),
.pagination > span:not(.page-links-title),
.pagination > a{
	border-radius: 2px;
	border: 1px solid #e00000;
}

.page-numbers:not(.current):not(.dots),
.pagination > a{
	background-color: #e00000;
	color: white;

	&:hover{
		filter: brightness( 110% );
		text-decoration: none;
	}
}

.search-form{
	display: flex;
	width: 200px;
	
	label{ flex: 1;}
	.search-field{ width: 100%; }
	.search-submit{ 
		padding: 0 .5em;
		z-index: 1;
	}
}