/* 4.0 Images */
img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border-radius: 2px;
}

/* WP-alignment */
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail,
.alignnone,
.wp-caption{
	max-width: 100%;
	height: auto;
}
.alignright{
	float: right;
	margin: 0 0 1em 1em;
}
.alignleft{
	float: left;
	margin: 0 1em 1em 0;
	
}
.aligncenter{ 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}

/* Thumbnails and attachments */
.post-thumbnail{
	display: block;
	transition: .3s;
	margin: 10px 0 20px;
}

/* WP-Caption */
.wp-caption{
	overflow: hidden;
	border: 1px solid $borderColor;
	border-radius: 2px;
	
	img{ 
		display: block;
		margin: 1.2% auto 0;
		max-width: 98%;
	}
}

.post-thumbnail img,
.gallery-item img{
	transition: .3s;
	&:hover{ filter: brightness( 110% ); }
}

.entry-attachment img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.wp-caption-text,
.gallery-caption{
	margin: 1rem 0;
	text-align: center;
}

.gallery{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery-item{
	display: inline-block;
	width: 100%;
	width: calc(33.33% - .5em);
	border: 1px solid $borderColor;
	border-radius: 2px;
	
	img{
		width: 100%;
	}
}

.gallery-columns-1 .gallery-item{ width: 100%; }
.gallery-columns-2 .gallery-item{ width: calc(50% - .5em); }
.gallery-columns-3 .gallery-item{ width: calc(33.33% - .5em); }
.gallery-columns-4 .gallery-item{ width: calc(25% - .5em); }
.gallery-columns-5 .gallery-item{ width: calc(20% - .5em); }
.gallery-columns-6 .gallery-item{ width: calc(16.66% - .5em); }
.gallery-columns-7 .gallery-item{ width: calc(14.28% - .5em); }
.gallery-columns-8 .gallery-item{ width: calc(12.5% - .5em); }
.gallery-columns-9 .gallery-item{ width: calc(11.11% - .5em); }

@media (max-width: $laptop){
	.gallery .gallery-item{ width: calc(50% - .5em); }
}

@media (max-width: $tablet){
	.gallery .gallery-item{ width: 100%; }
}