/* 5.0 Header */
#site-header{
	position: relative;
	background-color: #191919;
	color: white;
	min-height: 100px;

	a{ color: white; }

	.wrapper{ position: relative; }
}

#site-header-inner{ display: flex; }

#site-information{
	flex: 1;
	margin: .5rem;
	margin-left: 60px;
}

.no-social-icons #site-information{ margin: .5rem; }

#site-title{
	display: inline-block;
	padding: 0;
	text-transform: uppercase;
	font-size: 1.9em;

	a:hover{ text-decoration: none; }
}

#site-tagline{
	font-size: .85em;
	color: $taglineColor;
}

#site-title,
#site-tagline{
	text-shadow: 1px 2px #191919;
}

#site-title,
#site-tagline,
#herschel-social-media-links{ margin: 0; }

#social-bar{
	background-color: #111111;
	width: 50px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.no-social-icons #social-bar{ background-color: #191919 }

#menu-toggle{
	display: none;
	cursor: pointer;
}

#herschel-social-media-links{
	padding: 100px 0 0;

	li{
		list-style: none;
		text-align: center;
		padding: 1em 0 .5em;

		&:nth-child(1),
		&:nth-child(2){ padding-top: 0; }
	}

	i{ font-size: 2em; }

	a,
	a i{ color: white; }

	a i{
		transition: .2s;

		&:hover{ color: #e00000; }
	}
}

.no-social-icons #herschel-social-media-links{ padding: 0; }

@media (max-width: $laptop){
	#site-header{ min-height: 0px; }

	#site-header-inner{ display: block; }

	.no-social-icons #site-information,
	#site-information{
		margin: 0 0 0 60px;
		padding: .5rem 0 1rem;
	}

	#herschel-social-media-links{ padding-top: 0; }

	.no-js{
		#social-bar{
			position: relative;
			width: 100%;
			display: flex;
			justify-content: center;
			min-height: 0px;
			padding: 0;
		}

		#herschel-social-media-links{
			display: flex;
			flex-wrap: wrap;
			padding: 1rem 0;

			li{
				padding: 0;
				margin: 0 .5rem;
			}
		}
	}
}

@media (max-width: $tablet){
	#site-information{ margin-left: 1rem; }

	#social-bar{
		position: relative;
		width: calc(100% - 20px);
		min-height: 50px;
		padding: 10px;
		border-radius: 0;
	}

	#herschel-social-media-links{
		display: flex;
		flex-wrap: wrap;
		padding: 0;

		li{
			padding: 0;
			margin: 0 .5rem;
		}
	}

	.no-social-icons{
		#social-bar{
			display: flex;
			justify-content: center;
			width: 100%;
			padding: 0;
		}

		#site-information{
			margin: 0;
			text-align: center;
		}
	}

	.no-social-icons .no-js{
		#social-bar{ display: none; }
	}
}
