/* 6.0 Menus */
#header-menu-container{
	display: block;
	width: 100%;
	background-color: $headerMenuBackgroundColor;
}

.no-social-icons .header-menu{ max-width: 1200px }

.header-menu{
	position: relative;
	padding: 0;
	display: flex;
	max-width: 1100px;
	margin: 0 auto;
	z-index: 2;

	.menu-item{
		list-style: none;

		&:hover > .sub-menu{
			display: block;
		}
	}

	.current-menu-item{
		background-color: $currentMenuItemBackgroundColor;

		a{ color: $currentMenuItemColor; }
	}

	.menu-item-has-children > a:after{
		font-family: FontAwesome;
		font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 1.2em;
    padding-left: 6px;
    content: "\f105";
	}

	> .menu-item-has-children > a:after{
		content: "\f107";
	}

	.sub-menu{
		min-width: 200px;
		background-color: $headerSubMenuBackgroundColor;
		position: absolute;
		display: none;
		top: 100%;
		right: -1;
		top: 2.7em;
		padding: 0;

		.menu-item{
			position: relative;

			a{
				padding: 0 1em;
			}
		}

		.sub-menu{
			top: 0;
			left: 100%;
		}
	}

	a{
		display: block;
		color: $headerMenuLinkColor;
		min-height: 2em;
		line-height: 3em;
		padding: 0 1em;
		font-weight: 600;
		text-transform: uppercase;
		font-size: .9em;

		&:hover{
			background-color: $headerMenuItemHoverColor;
			text-decoration: none;
			color: white;
		}
	}
}

@media (max-width: $desktop - 60){
	.header-menu{ margin-left: 50px; }

	.no-social-icons .header-menu{ margin-left: 0; }
}

@media (max-width: $laptop){
	.header-menu{
		display: block;
		width: 100%;
		margin-left: 0px;

		.menu-item-has-children > a:after{
			content: "\f107";
		}

		.sub-menu{
			display: block;
			position: relative;
			top: 0;
			right: auto;
			min-width: 0px;
			padding-left: .5rem;

			.sub-menu{ left: 0; }
		}

	}

	.no-js{
		.header-menu{ background-color: #191919; }
	}

	.js{
		.header-menu{ margin-top: 50px; }

		#menu-toggle{ display: block; }

		#header-menu-container{ display: none; }

		.header-menu{
			background-color: #191919;
			position: absolute;
			top: 0;
		}
	}
}

/* Footer menu */
#footer-menu-container{}

.footer-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding: 0;
	font-size: .8em;

	.menu-item{
		list-style: none;

		&:before{
			content: '// ';
		}

		&:not(:last-child){
			padding-right: .5em;
			margin-right: .5em;
		}
	}
}
