/* 11.0 Meta */
.herschel-breadcrumbs,
.entry-meta{
	font-size: .85em;
	color: $metaColor;
	opacity: .8;

	a,
	i{ color: $metaColor; }
}

.entry-meta{
	display: flex; 
	flex-wrap: wrap;
}

.herschel-breadcrumbs{ margin: .5rem 0; }

.herschel-breadcrumbs > span:not(:last-child):after{
	content: '>>';
	font-size: .75em;
	padding: 0 .5rem;
}

.entry-meta{
	a:hover{ text-decoration: none; }
	span{ margin-right: .5em; }
}

.tags{ margin-bottom: 1rem; }

@media (max-width: $tablet){
	.entry-meta,
	.entry-meta span{
		display: block;
	}
}