.comments-area {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  border-top: 0.0625em solid var(--color-border);
}

.comments-title {
  margin: 0;
  font-size: 2.6rem;
  padding: .25em 0;
}

.comment-navigation {
  .nav-links {
    display: flex;
    flex-wrap: wrap;

    > div  {
      margin: 0 1em 0 0;
    }
  }
}

.comment-list {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  margin: 0;
}

.comment,
.pingback {
  list-style: none;
  border-top: 0.0625em solid var(--color-border);
  padding-top: 1em;
}

.comment.bypostauthor .comment-author .fn::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  content: '\f040';
  padding-right: .5em;
}

.comment-meta {
  margin-bottom: 2em;
}

.comment-author {
  .avatar {
    position: relative;
    float: left;
    margin-right: .5em;
  }
}

.comment-metadata {
  font-size: .7rem;
  margin-top: 1em;
}

.comment-edit-link,
.comment-reply-link {
  background-color: var(--color-scheme);
  color: var(--color-text-alt);
  border-radius: .15em;
  padding: 0 .25em;

  &:hover {
    text-decoration: none;
    filter: brightness(110%);
  }
}

.comment-form {
  label {
    display: block;
  }

  p {
    margin: 0 0 1em;
  }
}

.comment-reply-title {
  margin: 0;
}

.comment-navigation {
  margin: 1em 0;

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-previous {
    padding: 0 1em 1em 0;
  }

  .nav-previous::before,
  .nav-next::after {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }

  .nav-previous::before {
    content: '\f177';
    padding-right: .5em;
  }

  .nav-next::after {
    content: '\f178';
    padding-left: .5em;
  }
}