.wp-block-cover-image,
.wp-block-cover  {
  height: auto;
}

.wp-block-cover-text {
  margin: 0 auto;
  padding: 0;
}

.wp-block-image {
  figure,
  figcaption {
    border: 0.0625em solid var(--color-border);
  }

  figure {
    border-bottom: 0;
  }

  figcaption {
    margin: 0;
    padding: 1em;
    border-top: 0;
    border-bottom-right-radius: .25em;
    border-bottom-left-radius: .25em;
  }

  img {
    border-radius: 0;
  }
}

.wp-block-button {
  margin-bottom: 1em;
}

.wp-block-button__link,
.wp-block-file a.wp-block-file__button {
  background-color: var(--color-scheme);
  border-radius: .25em;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    filter: brightness(110%);
  }
}

.blocks-gallery-grid .blocks-gallery-item,
.wp-block-gallery .blocks-gallery-item {
  overflow: auto;
}

.blocks-gallery-grid .blocks-gallery-image figcaption, 
.blocks-gallery-grid .blocks-gallery-item figcaption, 
.wp-block-gallery .blocks-gallery-image figcaption, 
.wp-block-gallery .blocks-gallery-item figcaption {
  padding: 1em;
  width: calc(100% - 2em);
}

.wp-block-file .wp-block-file__button {
  display: table;
  margin: .5em 0 1em 0;
  font-size: 1rem;
}

.wp-block-embed {
  overflow: auto;
}

.wp-block-separator {
  width: 100%;
  border: none;
  height: 0.0625em;
  margin: 0 0 1em 0;
  background-color: var(--color-text);
}

.wp-block-separator:not(.is-style-dots) {
  margin: 0 0 1em;
  text-align: left;
}

.wp-block-table td,
.wp-block-table th,
.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
  border-color: var(--color-border);
}

.wp-block-table td,
.wp-block-table th {
  border-width: 0 0.0625em 0.0625em 0;
  padding: 1em;
}

.wp-block-quote {
  border-left: 0.125em solid var(--color-border);
}

.wp-block-quote.has-text-align-right {
  border-left: 0;
  border-right: 0.125em solid var(--color-border);
  padding-left: 0;
  padding-right: 1em;
}

.wp-block-pullquote {
  border-color: transparent;
}

.wp-block-pullquote blockquote {
  border: 0;
}

p.wp-block-cover-text:not(.has-text-color) {
  color: #fff;
}

.wp-block-code {
  border: 0.0625em solid var(--color-border);
  border-radius: 0.1875em;
  
  code {
    background-color: transparent;
  }
}

.wp-block-verse {
  font-family: var(--font-family);
  padding: .5em 0;
}