.page-header,
.entry-header {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  grid-gap: .5em;

  h1,
  h3 {
    margin: 0;
  }

  h1 {
    font-size: 2.6rem;
  }

  h3 {
    font-size: 2rem;
  }

  a {
    color: var(--color-text);

    &:hover,
    &:focus {
      color: var(--color-scheme);
      text-decoration: none;
    }
  }
}

.sticky .entry-header h3::before,
.single-format-gallery .entry-header h1::before,
.single-format-image .entry-header h1::before,
.single-format-audio .entry-header h1::before,
.single-format-video .entry-header h1::before,
.single-format-status .entry-header h1::before,
.single-format-link .entry-header h1::before,
.single-format-quote .entry-header h1::before,
.single-format-chat .entry-header h1::before,
.archive.category .page-header h1::before,
.archive.date .page-header h1::before,
.archive.tag .page-header h1::before,
.archive.author .page-header h1::before,
.archive.term-post-format-gallery .page-header h1::before,
.archive.term-post-format-image .page-header h1::before,
.archive.term-post-format-audio .page-header h1::before,
.archive.term-post-format-video .page-header h1::before,
.archive.term-post-format-status .page-header h1::before,
.archive.term-post-format-link .page-header h1::before,
.archive.term-post-format-quote .page-header h1::before,
.archive.term-post-format-chat .page-header h1::before,
.attachment .entry-header h1::before,
.search-results .page-header h1::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  text-decoration: inherit;
  padding-right: .5em;
}

.sticky .entry-header h3::before {
  content: "\f249" 
}

.entry-meta {
  display: grid;
  font-size: .85rem;

  > *::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    text-decoration: inherit;
    font-size: .85rem;
    display: inline-block;
    width: 1.3em;
  }
}

.entry-meta-date::before {
  content: "\f073"
}

.entry-meta-author::before,
.archive.author .page-header h1::before {
  content: "\f007";
}

.entry-meta-image-dimesions::before {
  content: "\f030";
}

.entry-meta-comments::before {
  content: "\f075";
}

.format-gallery .entry-meta-post-format::before,
.format-image .entry-meta-post-format::before,
.single-format-gallery .entry-header h1::before,
.single-format-image .entry-header h1::before,
.archive.term-post-format-gallery .page-header h1::before,
.archive.term-post-format-image .page-header h1::before,
.attachment .entry-header h1::before {
  content: "\f03e";
}

.format-audio .entry-meta-post-format::before,
.single-format-audio .entry-header h1::before,
.archive.term-post-format-audio .page-header h1::before {
  content: "\f001";
}

.format-video .entry-meta-post-format::before,
.single-format-video .entry-header h1::before,
.archive.term-post-format-video .page-header h1::before {
  content: "\f03d";
}

.format-status .entry-meta-post-format::before,
.single-format-status .entry-header h1::before,
.archive.term-post-format-status .page-header h1::before {
  content: "\f12a";
}

.format-link .entry-meta-post-format::before,
.single-format-link .entry-header h1::before,
.archive.term-post-format-link .page-header h1::before  {
  content: "\f0c1";
}

.format-quote .entry-meta-post-format::before,
.single-format-quote .entry-header h1::before,
.archive.term-post-format-quote .page-header h1::before  {
  content: "\f10e";
}

.format-chat .entry-meta-post-format::before,
.single-format-chat .entry-header h1::before,
.archive.term-post-format-chat .page-header h1::before  {
  content: "\f086";
}

.archive.category .page-header h1::before {
  content: '\f07b';
}

.archive.date .page-header h1::before {
  content: '\f073';
}

.archive.tag .page-header h1::before {
  content: '\f02b';
}

.search-results .page-header h1::before {
  content: '\f002';
}

.entry-meta-categories {
  .post-categories {
    display: inline-flex;

    li {
      margin: 0;
    }
  }

  &::before {
    content: "\f07b";
  }
}

.post-edit-link::before {
  content: "\f303";
}

.entry-meta-tags::before {
  content: "\f02b";
}

@media (min-width: 1024px) {
  .entry-meta {
    display: flex;
    flex-wrap: wrap;

    > *::before {
      width: auto;
      padding-right: .25em;
    }

    > *:not(:last-child) {
      margin-right: 1em;
    }
  }
}