.widget-area {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  align-content: start;
  grid-gap: 2em;
}

#widget-area-header {
  margin: 1em 0;
}

#widget-area-above-container,
#widget-area-below-container,
#widget-areas-footer-container {
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, 1200px) minmax(0, auto);
  grid-gap: 1em;
}

#widget-area-above-container,
#widget-area-below-container {
  margin: 2em 0;  
}

#widget-area-above,
#widget-area-below,
#widget-area-footer-one,
#widget-area-footer-two {
  grid-column: 2 / 3;
}

@media (min-width: 1024px) {
  #sidebar-widget-area {
    grid-template-columns: minmax(0, 300px);
  }

  #widget-area-above,
  #widget-area-below,
  #widget-area-footer-one,
  #widget-area-footer-two {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .has-social-icons {
    #widget-area-above-container {
      grid-template-columns: minmax(0, auto) 50px minmax(0, 1150px) minmax(0, auto);
    }

    #widget-area-above {
      grid-column: 3 / 4;
    }
  }
}