#header-nav-container {
  display: flex;
  padding: 1em 1em 0;
}

@media (min-width: 1024px) {
  #header-nav-container {
    display: grid;
    grid-template-columns: minmax(0, auto) minmax(320px, 1200px) minmax(0, auto);
    grid-gap: 1em;
    padding: 0;
  }

  .has-social-icons {
    #header-nav-container {
      grid-template-columns: minmax(0, auto) 50px minmax(320px, 1150px) minmax(0, auto);
      position: relative;
    }

    #social-links {
      background-color: #000000;
      position: absolute;
      width: 50px;
      top: 0;
      left: 0;
      grid-gap: 0;
      z-index: 10;
      grid-column: 2 / 3;
      
      a {
        line-height: 50px;
      }
    }

    #header-nav {
      grid-column: 3 / 4;
    }
  }
}