#header-nav-container {
  background-color: var(--color-bg-alt);
  color: var(--color-text-alt);
  
  a {
    color: var(--color-text-alt);
  }
}

#header-nav-toggle {
  display: none;
}

#header-nav-toggle-label {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 30px;

  .fa-times {
    display: none;
  }
}

.has-social-icons #header-nav-toggle-label {
  margin-right: .5em;
}

#header-nav {
  position: absolute;
  background-color: var(--color-bg-alt);
  color: var(--color-text-alt);
  display: none;
  margin: 0;
  padding: 0 1em 1em;
  width: calc(100% - 2em);
  top: calc(50px + 1em);
  left: 0;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 2em;
  z-index: 10;

  a {
    color: var(--color-text-alt);
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

#header-nav-toggle:checked ~ #header-nav-toggle-label .fa-bars {
  display: none;
}

#header-nav-toggle:checked ~ #header-nav-toggle-label .fa-times {
  display: block;
}

#header-nav-toggle:checked ~ #header-nav {
  display: block;
}

#social-links {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30px, auto));
  grid-gap: 1em;

  a {
    display: block;
    font-size: 30px;
    text-align: center;

    &:hover {
      color: var(--color-scheme);
    }
  }
}

@media (min-width: 1024px) {
  #header-nav-container {
    background-color: var(--color-scheme);
  }
  
  #header-nav-toggle-label {
    display: none;
  }

  #header-nav {
    background-color: transparent;
    position: relative;
    display: flex !important;
    flex-wrap: wrap;
    top: auto;
    left: auto;
    font-size: .9rem;
    padding: 0;
    grid-column: 2 / 3;

    > li {
      &:first-child {
        margin-left: -1em;
      }
    
      &.current-menu-item,
      &:hover {
        background-color: var(--color-bg-alt);
      }

      &:hover > ul { 
        display: block;
      }
    }

    li {
      position: relative;
      margin: 0;
      padding: .5em 1em;
    }

    li li {
      min-width: 200px;
    }

    li.menu-item-has-children > a::after {
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-size: 1rem;
      padding-left: .5em;
      content: "\f107";
    }

    li li.menu-item-has-children > a::after {
      content: "\f105";
    }

    ul {
      background-color: var(--color-bg-alt);
      position: absolute;
      display: none;
      top: 100%;
      left: 0;
      margin: 0;
    }

    ul ul {
      top: 0;
      left: calc(100% - 2em);
    }

    li:hover > ul {
      display: block;
    }
  }
}