#site-header {
  background-color: var(--color-bg-alt);
  color: var(--color-text-alt);

  a { 
    color: var(--color-text-alt);
  }
}

#site-branding {
  display: grid;
  align-content: start;
  grid-gap: .5em;

  a {
    text-decoration: none;
  }
}

.site-title {
  font-size: 2rem;
  text-transform: uppercase;
}

.site-tagline {
  font-size: .8rem;
}

.custom-logo {
  border-radius: 0px;
}