:root {
  --font-family: 'Open Sans', sans-serif;
  --font-size: 16px;

  --color-bg:     #FFFFFF;
  --color-scheme: #E00000;
  --color-text:   #000000;
  --color-border: #DDDDDD;

  --color-bg-alt:   #222222;
  --color-text-alt: #EAEAEA;
}