#widget-areas-footer-container {
  background-color: var(--color-bg-alt);
  color: var(--color-text-alt);
  padding: 2em 0;
  
  a {
    color: var(--color-text-alt);

    &:hover,
    &:focus {
      color: var(--color-scheme);
    }
  }

  .widget_calendar a {
    color: var(--color-scheme);
  }
}

.widget-title {
  margin-bottom: .5em;
}

.widget ul,
.wp-block-archives-list,
.wp-block-categories-list {
  list-style: none;
  padding: 0;
  margin: 0;

  ul {
    list-style: none;
    margin: 0 0 0 1em;
  }
}

.widget,
.wp-block-archives-list,
.wp-block-categories-list {
  li {
    line-height: 2em;
  }

  a {
    color: var(--color-text);

    &:hover,
    &:focus {
      color: var(--color-scheme);
      text-decoration: none;
    }
  }
}

.widget > ul > li,
.wp-block-archives-list > li,
.wp-block-categories-list > li {
  border-bottom: 0.0625em solid var(--color-border);  
}

.widget_calendar {
  table {
    display: table !important;
    max-width: 100%;
    table-layout: fixed;
  }

  td,
  th {
    text-align: center;
    padding: .5em;
  }

  #prev,
  #prev+.pad {
    border-right: 0;
  }

  #prev {
    text-align: left;
  }

  #next {
    text-align: right;
  }

  a {
    color: var(--color-scheme);
    font-weight: 600;
  }
}

/* RSS Widget */
.rss-widget-icon {
  border-radius: 0px;
}