/*
  Specific styles for the Gutenberg block editor
*/

/* Variables */
@import "variables";

/* Title */
.editor-post-title__block .editor-post-title__input {
  font-family: var(--font-family);
  font-size: 2.6rem;
  font-weight: 400;
}

/* Editor width */
.wp-block,
.wp-block[data-align=wide] {
  max-width: 1200px;
}

/* Text */
.editor-styles-wrapper p {
  margin-top: 0 !important;
}

.editor-styles-wrapper [data-block] {
  margin-top: 0;
}

/* Images */
.wp-block-image img,
.wp-block-image .components-resizable-box__container img {
  display: inline-block;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.wp-block-image figcaption {
  border: 0.0625em solid var(--color-border);
  border-top: none;
  border-bottom-left-radius: .25em;
  border-bottom-right-radius: .25em;
  margin: 0;
  padding: 1em 0;
}

/* Buttons */
.wp-block-button__link {
  background-color: var(--color-scheme);
  border-radius: .25em;
}

/* Quote blocks */
.wp-block-quote.has-text-align-right {
  border-right: 0.125em solid var(--color-border);
}

.editor-styles-wrapper .wp-block-pullquote blockquote {
  border-left: none;
  padding-left: 0;
}

/* File block */
.wp-block-file__content-wrapper {
  color: var(--color-scheme);
}

.wp-block-file .wp-block-file__button-richtext-wrapper {
  display: table;
  margin: .5em 0 1em 0;
  font-size: 1rem;
}

.wp-block-file .wp-block-file__button {
  background-color: var(--color-scheme);
  border-radius: .25em;  
}

/* widgets */
.block-editor .wp-block-archives-list,
.block-editor .wp-block-categories__list {
  list-style: none;
  padding: 0;
  margin: 0;

  ul {
    list-style: none;
    margin: 0 0 0 1em;
  }

  li {
    line-height: 2em;
  }

  > li {
    border-bottom: 0.0625em solid var(--color-border);
  }

  a {
    color: var(--color-text);
  }
}

/* separators */
.wp-block-separator {
  margin: 0 0 1em 0;
}

/* pullquote */
.wp-block-pullquote {
  border-color: transparent;
}

/* tables */
.wp-block-table td,
.wp-block-table th,
.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
  border-color: var(--color-border);
}

.wp-block-table td,
.wp-block-table th {
  border-width: 0 0.0625em 0.0625em 0;
  padding: 1em;
}