.site-header {
  background-color: var(--background-color-alt);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-block: 1em;
  margin: 0;

  @media (min-width: $screen_tablet) {
    padding-block: 2em;
  }

  @media (min-width: $screen_laptop) {
    order: -1;
    flex-direction: row;
    justify-content: space-between;
  }
    
  a {
    color: var(--color-white);
  }
}

.site-branding {
  flex-grow: 1;
  min-width: 50%;
  
  * {
    margin: 0;
  }

  > * + * {
    margin-block-start: 1rem;
  }
}

.site-title {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1;

  a:hover {
    text-decoration: none;
  }
}

.custom-logo-link {
  display: block;
}

.custom-logo {
  border-radius: 0;
}

.site-tagline {
  font-size: .8rem;
  line-height: 1;
}