/* Components: Post edit link */
.entry-header .post-edit-link,
.page-header .post-edit-link {
  position: absolute;
  display: inline-block;
  inset-block-start: .25em;
  inset-inline-end: .25em;
  padding: .25em .5em;
  background-color: var(--background-color);
  color: var(--anchor-color);
  text-transform: uppercase;
  font-weight: 600;
  transition: all .3s ease-in-out;

  &:hover {
    text-decoration: underline;
  }
}